.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 40px;
  background: #0f172a;
  color: white;
  flex-wrap: wrap;
  gap: 20px;
}

.logo h2 {
  margin: 0;
}

.nav-links {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.nav-links a.active {
  color: #38bdf8;
}

.user-box {
  display: flex;
  align-items: center;
  gap: 15px;
}

.user-box button {
  border: none;
  background: crimson;
  color: white;
  padding: 10px 14px;
  border-radius: 8px;
  cursor: pointer;
}

.user-box button:hover {
  opacity: 0.9;
}

@media screen and (max-width: 768px) {
  .navbar {
    flex-direction: column;
    text-align: center;
  }
}